.header {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.navigationMenu {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.logoWrapper {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.navigationMenu::after {
  content: "";
  flex: 1 1 0;
}

.links {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.homeLink,
.catalogLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  transition: color 200ms ease;
  text-decoration: none;
}

.homeLink:hover,
.homeLink:focus,
.catalogLink:hover,
.catalogLink:focus {
  color: #d84343;
  text-decoration: none;
}
