.header {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
}

.navigationMenu {
  max-width: auto;
  margin: 0 auto;
  padding: 24px 64px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.links {
  grid-column: 2;
  justify-self: center;

  display: flex;
  gap: 32px;
}

.logo {
  grid-column: 1;
  justify-self: start;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #101828;
}

.homeLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  transition: color 200ms ease;
}

.catalogLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  transition: color 200ms ease;
}

.homeLink:hover,
.homeLink:focus,
.catalogLink:hover,
.catalogLink:focus {
  color: #d84343;
}

/*
.inner {
  max-width: 1312px;
  margin: 0 auto;
  padding: 20px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #101828;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  font-size: 16px;
  color: #6c727f;
  position: relative;
}

.linkActive {
  font-size: 16px;
  color: #101828;
  font-weight: 600;
  position: relative;
}

.linkActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: #e44848;
} */
