.catalogPage {
  padding: 48px 0 80px 0;
  background-color: #f7f7f7; /* если по макету нужен серый фон */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 64px;

  display: flex;
  align-items: flex-start;
  gap: 64px;
}

/* фиксированная ширина 360px */
.sidebarColumn {
  flex: 0 0 360px; /* basis = 360, не растёт, не сжимается */
  max-width: 360px;
}

/* правая часть — тянется */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loadMore {
  font-family: "Inter", sans-serif;

  background-color: #fff;

  border-radius: 200px;
  /* padding: 16px 40px; */
  border: none;

  /* background-color: #e44848; */
  cursor: pointer;

  align-self: center;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.loadMore:hover,
.loadMore:focus {
  background-color: ffff;
  border: 1px solid #d84343;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
}
