.form {
  width: 100%;
  max-width: 560px;
  padding: 44px 57px 44px 57px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(16, 24, 40, 0.03);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin: 0;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin: 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field {
  display: block;
  /* margin-bottom: 14px; */
}

.input {
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 14px 18px;
  background-color: #f7f7f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.input::placeholder {
  color: #6c727f;
}

.textarea {
  resize: vertical;
  min-height: 96px;
}

.submit {
  font-family: "Inter", sans-serif;
  display: block;
  margin: 24px auto 0;
  padding: 16px 60px;
  border-radius: 200px;
  border: none;

  color: #fff;
  background: #e44848;
  cursor: pointer;
  transition:
    background 150ms ease-in-out,
    transform 80ms ease-in-out;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}

.submit:hover {
  background: #d84343;
}
