.feedback {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.item {
  /* padding: 16px 0; */
  /* border-bottom: 1px solid #f2f4f7; */

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  /* margin-bottom: 8px; */
}

.avatar {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;

  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.starIcon {
  width: 16px;
  height: 16px;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 0;

  /* font-size: 14px; */
  /* color: #ffc531; */
}

.text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.empty {
  font-size: 14px;
  color: #6c727f;
}
