.sidebar {
  background-color: #ffffff;
  padding: 16px 0 0 64px;
  border-radius: 20px;
  /* border: 1px solid #dadde1; */
  display: flex;
  flex-direction: column;
}

.filters {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin: 8px 0 0 0;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin: 0 0 8px 0;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 16px;
  padding-left: 44px; /* место под иконку слева */
  border-radius: 12px;

  border: none;
  background-color: #f7f7f7;

  font-size: 16px;

  color: #101828;
  transition: border-color 200ms ease;
}

.input::placeholder {
  color: #98a2b3;
  transition: color 150ms ease;
}

/* иконка внутри инпута */
.inputIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #98a2b3; /* серый */
  pointer-events: none;
  transition: color 150ms ease;
}

.inputWrapper:focus-within .inputIcon {
  color: #101828;
}

.input:focus {
  outline: none;
  border-color: #101828;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  position: relative;
  margin: 0;
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dadde1; /* серо-голубая линия как в макете */
  margin: 24px 0;
}

.chips,
.types {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.chip,
.chipActive,
.type,
.typeActive {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0;
  border-radius: 12px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  width: 112px;
  height: 96px;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc((100% - 2 * 16px) / 3);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}

/* .chipActive {
  border-color: #e44848;
  background-color: rgba(228, 72, 72, 0.08);
} */

.chipIcon {
  width: 32px;
  height: 32px;
  /* margin-bottom: 6px; */
  fill: #475467;
}

/* .types {
  display: grid;

} */

/*
.type,
.typeActive {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.typeActive {
  border-color: #e44848;
  background-color: rgba(228, 72, 72, 0.08);
} */

.searchButton {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border-radius: 200px;
  padding: 16px 60px;
  margin-top: 8px;

  width: 166px;
  height: 56px;
  border: none;

  background-color: #e44848;

  cursor: pointer;
  transition: color 150ms ease;
}

.searchButton:hover,
.searchButton:focus {
  background-color: #d84343;
}
