.hero {
  position: relative;
  width: 100%;
  height: 696px;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.container {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-inline: 64px;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  z-index: 2;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 50px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}
