.hero {
  position: relative;
  display: flex;
  max-width: 1440px;
  height: 696px;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  pointer-events: none;
  z-index: 2;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-inline: 64px;
  height: 100%;
  display: flex;
}

.content {
  margin: auto 0;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: #f7f7f7;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;

  margin: 16px 0 40px 0;
  font-size: 18px;
}

.button {
  padding: 14px 32px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 250ms ease,
    transform 250ms ease;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}
