.hero {
  position: relative;

  max-width: 1440px;
  height: 696px;
  /* border-radius: 20px; */
  padding: 260px 0 0 64px;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.content {
  max-width: 500px;
}

.title {
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
}

.subtitle {
  margin: 16px 0 40px 0;
  font-size: 18px;
}

.button {
  padding: 14px 32px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 250ms ease,
    transform 250ms ease;
}

.button:hover,
.button:focus {
  background-color: #d84343;
}
