.features {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 44px 80px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #101828;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.details {
  font-family: "Inter", sans-serif;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.divider {
  height: 1px;
  background-color: #dadde1;
  margin-bottom: 24px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  line-height: 1.5;
}

.label,
.value {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
