.features {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 24px 28px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* чипы */
.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #101828;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Vehicle details */
.details {
  font-family: "Inter", sans-serif;
}

.title {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #101828;
}

.divider {
  height: 1px;
  background-color: #dadde1;
  margin-bottom: 24px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  line-height: 1.5;
}

.label {
  color: #6c727f;
}

.value {
  color: #101828;
  font-weight: 500;
}
