.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.imageWrapper {
  width: 292px; /* или нужная ширина карточки */
  height: 320px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.cardimage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.cardtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin: 0;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.favoriteButton {
  border: none;
  background: transparent;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  line-height: 0;
}

.metaRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6c727f;
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 8px 12px;
  border-radius: 100px;
  background-color: #f2f4f7;
  font-size: 12px;
}

.footer {
  margin-top: auto;
}

/* .showMore {
  padding: 10px 24px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.showMore:hover {
  background-color: #d84343;
} */

.metaRow {
  display: flex;
  align-items: center;
  gap: 16px; /* расстояние между рейтингом и локацией */
}

/* контейнер с иконкой и текстом рейтинга */
.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* расстояние между звездой и числом */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

/* сама звезда */
.starIcon {
  width: 16px; /* или 14px, если хочется ещё меньше */
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
}

.heaartIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
}

.showMore {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border-radius: 200px;
  padding: 16px 60px;
  margin-top: 8px;

  /* width: 166px;
  height: 56px; */
  border: none;

  background-color: #e44848;

  cursor: pointer;
  transition: color 150ms ease;
}

.showMore:hover,
.showMore:focus {
  background-color: #d84343;
}
