.card {
  display: grid;
  grid-template-columns: 290px minmax(0, 1fr);
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #dadde1;
}

.imageWrapper {
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.favoriteButton {
  border: none;
  background: transparent;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  line-height: 0;
}

.metaRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6c727f;
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.description {
  font-size: 14px;
  color: #475467;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 8px 12px;
  border-radius: 100px;
  background-color: #f2f4f7;
  font-size: 12px;
}

.footer {
  margin-top: auto;
}

/* .showMore {
  padding: 10px 24px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.showMore:hover {
  background-color: #d84343;
} */

.metaRow {
  display: flex;
  align-items: center;
  gap: 16px; /* расстояние между рейтингом и локацией */
}

/* контейнер с иконкой и текстом рейтинга */
.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* расстояние между звездой и числом */
}

/* сама звезда */
.starIcon {
  width: 16px; /* или 14px, если хочется ещё меньше */
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
}

.heaartIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
}

.showMore {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border-radius: 200px;
  padding: 16px 60px;
  margin-top: 8px;

  /* width: 166px;
  height: 56px; */
  border: none;

  background-color: #e44848;

  cursor: pointer;
  transition: color 150ms ease;
}

.showMore:hover,
.showMore:focus {
  background-color: #d84343;
}
