.card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
}

.imageWrapper {
  width: 292px;
  height: 320px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.cardimage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
  margin: 0;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.favoriteButton {
  border: none;
  background: transparent;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  line-height: 0;
}

.metaRow {
  display: flex;

  font-size: 14px;
  color: #6c727f;
  gap: 16px;
}

.mapIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
  color: #101828;
}

.location {
  display: inline-flex;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #101828;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.footer {
  margin-top: auto;
}

.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.starIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
}

.heaartIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
}

.showMore {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border-radius: 200px;
  padding: 16px 60px;
  /* margin-top: 8px; */

  /* width: 166px;
  height: 56px; */
  border: none;

  background-color: #e44848;

  cursor: pointer;
  transition: color 150ms ease;
}

.showMore:hover,
.showMore:focus {
  background-color: #d84343;
}
